.main-container{
    display: flex;
}
.container1{
    width: 50%;
    text-align: center;
}
.container2{
    width: 50%;
    text-align: center;
}
.profile-img{
     height: 250px;
     border-radius: 150px;
     margin-top: 80px;
     margin-bottom: 40px; 
}
.profile-table{
    text-align: center;
}
.table-container{
    display: flex;
    justify-content: center;
}