.main-container{
    display: flex;
}
.container1{
    width: 50%;
    text-align: center;
}
.container2{
    width: 50%;
    text-align: center;
}

.profile-img-container{
    height: 60px;
    width: 60px;
}